/* App.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
  }
  