/* SideBar.css */

.sidebar {
    background-color: #307dcb5b;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 8rem;
   }
  
  .sidebar h1 {
    font-size: 1.5rem;
    margin: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 767px) {
    .sidebar {
      display: none;
    }
  }
  