#about-us {
    display: flex;
    background-color: #f8f9fa;
    flex-wrap:wrap;
    justify-content:space-between;
    /* flex-direction: column; */
  }

  aside {
    padding-inline: 2rem;
    align-items: center;
    justify-content: center;
  }
  #about-us h2 {
    color: #007bff;
  }
  
  #about-us p {
    color: #555;
    margin-bottom: 20px;
    max-width: 40vh;
  }
  
  #about-us img {
    max-width: 40%;
    min-width: none;
    margin-left: 2rem;
  }
