/* Catalog.css */

#catalog {
    background-color: #f8f9fa;
    margin: 2rem;
    padding: 1rem;
  }
  
  #catalog h2 {
    color: #007bff;
  }
  
  #catalog p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 20px;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .catalog-container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        
    }
  }
  