/* CoffinShop.css */

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
  }
  
  .main-content {
    flex-grow: 1;
    padding: 0px;
    
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  
    .main-content {
      margin-left: 200px; /* Adjust the value based on your sidebar width */
    }
  }
  